.but {
    border-radius: 10px; 
    background-color: blanchedalmond;
    margin: 10px;
}

img {
    vertical-align: middle;
    padding: 10px;
    border-radius: 10px; 
}

.recap {
    font-size: 2rem;
    padding: 10px;
}