  #cat_img {  
    width: 100%;  
    max-width: 480px;  
    min-width: 320px;  
  }
  
  #cats_list {  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  
  .cats_list_item {  
    display: inline-block;  
    padding: 0 10px;  
    font-weight: bold; 
  }

.but {
    border-radius: 10px; 
    background-color: blanchedalmond;
    margin: 10px;
}

img {
    vertical-align: middle;
    padding: 10px;
    border-radius: 10px; 
}

.recap {
    font-size: 2rem;
    padding: 10px;
}

.cat_item {
    float: left;
}

.cat_row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.text_c {
    text-align: center;  
  }
